@charset "UTF-8";
.com-tab-box .tab-content {
  display: none; }

/* μΈν’‹ */
#wrapper {
  width: 100%;
  display: flex; }

aside.left-menu {
  width: 140px;
  flex-shrink: 0;
  background-color: #1e2744;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

aside.left-menu .logo {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

aside.left-menu dl {
  width: 100%;
  padding: 25px 12px;
  color: #717c98;
  background-color: #161c32;
  margin-bottom: 4px; }

aside.left-menu dl dt {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 15px; }

aside.left-menu dl dd {
  font-size: 12px;
  margin-bottom: 15px; }

aside.left-menu dl dd:last-child {
  margin-bottom: 0; }

aside.left-menu dl dd.on {
  color: #fff;
  font-weight: 500; }

aside.left-menu dl.on {
  background-color: #0d111d; }

aside.left-menu dl.on dt {
  color: #fff; }

#container {
  flex: 1; }

#container .header {
  width: 100%;
  padding: 35px 0 20px 0; }

#container .header .header-tit-box {
  padding-left: 20px; }

#container .header h2 {
  font-size: 20px;
  font-weight: 500;
  color: #111;
  line-height: 1;
  margin-bottom: 7px; }

#container .header p {
  color: #999;
  font-size: 12px; }

#container .header .header-menu {
  position: absolute;
  right: 20px;
  top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column; }

#container .header .header-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

#container .header .header-menu ul li {
  margin-right: 18px;
  font-size: 12px;
  color: #999;
  position: relative; }

#container .header .header-menu ul li:last-child {
  margin-right: 0; }

#container .header .header-menu ul li:last-child::after {
  display: none; }

#container .header .header-menu ul li::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 12px;
  right: -10px;
  top: 3px;
  background-color: #cdcdcd; }

#container .header .header-menu .print-info {
  font-size: 12px;
  margin-top: 15px; }

#container .header .header-menu .print-info a {
  margin-right: 23px; }

#container .header .header-menu .print-info a:last-child {
  margin-right: 0; }

#container .header .header-menu .print-info .ic-print {
  padding-left: 23px;
  color: #2853c4;
  background: url(../img/ic-print.png) left center no-repeat; }

#container .header .header-menu .print-info .ic-info {
  padding-left: 20px;
  color: #d82a67;
  background: url(../img/ic-info.png) left center no-repeat; }

#content {
  flex: 1;
  background-color: #ebf0f4;
  padding: 30px 20px; }

.bd-box {
  border: 1px solid #e0e0e0;
  background-color: #fff; }

.small-txt {
  font-size: 12px;
  color: #999; }

.tit-box {
  padding: 30px 20px 15px 20px; }

.tit-box h3 {
  font-size: 16px;
  color: #242424;
  line-height: 1;
  font-weight: 500; }

.prod-add .con-box {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  padding: 25px 20px;
  display: flex;
  align-items: flex-end; }

.prod-list-top-right .ic-list-plus {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 19px;
  border-radius: 3px;
  border: 1px solid #d9d9d9; }

.prod-list-top-right .ic-list-plus::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 15px;
  right: -11px;
  top: 8px;
  background-color: #e0e0e0; }

.prod-list-top-right .ic-list-plus span {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px; }

.prod-list-top-right .ic-list-plus span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #b8b8b8; }

.prod-list-top-right .ic-list-plus span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -1px;
  background-color: #b8b8b8; }

.prod-list-box {
  margin-top: 30px; }

.prod-list-box .list-box-header {
  display: flex;
  border: 1px solid #e0e0e0;
  border-width: 1px 0;
  height: 40px; }

.prod-list-box .box {
  flex: 1;
  border: 0 1px solid #e0e0e0;
  font-size: 12px;
  color: #111;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
  display: flex;
  border: 1px solid #e0e0e0;
  border-width: 0;
  padding: 10px; }

.prod-list-box .box.box-1 {
  flex: none;
  flex-shrink: 0;
  width: 60px;
  border-right-width: 1px; }

.prod-list-box .box.box-2 {
  flex: none;
  flex-shrink: 0;
  width: 60px;
  border-right-width: 1px; }

.prod-list-box .box.box-3 {
  flex: none;
  flex-shrink: 0;
  width: 72px;
  border-right-width: 1px; }

.prod-list-box .box.box-3 input {
  text-align: center; }

.prod-list-box .box.box-5 {
  flex: none;
  flex-shrink: 0;
  width: 220px;
  border-left-width: 1px; }

.prod-list-box .box input {
  width: 100%; }

#prodList li {
  display: flex;
  border: 1px solid #e0e0e0;
  border-width: 1px 0;
  margin-top: -1px;
  z-index: 1;
  position: relative; }

#prodList li .box {
  background-color: #fff; }

.btn-wrap {
  display: flex;
  padding: 15px 0 30px 15px; }

.btn-wrap button {
  margin-right: 3px; }

.search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  padding-top: 12px;
  padding-left: 20px;
  border-top: 1px solid #e0e0e0; }

.input-box {
  position: relative;
  max-width: 130px;
  width: calc(100% - 35px); }

.datepicker-here {
  padding-right: 30px;
  position: relative;
  max-width: 100%;
  font-size: 11px;
  width: auto; }

.datepicker-here + label {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/ic-date.png) center no-repeat;
  position: absolute;
  right: 7px;
  top: 4px; }

.datepicker-here.big {
  height: 32px;
  font-size: 12px; }

.datepicker-here.big + label {
  width: 17px;
  height: 17px;
  top: 7px; }

.prod-select-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.prod-select-tab ul {
  font-size: 0;
  max-width: 70%;
  margin-left: 1px;
  margin-top: 1px; }

.prod-select-tab ul li {
  display: inline-block;
  margin-left: -1px;
  margin-top: -1px; }

.prod-select-tab ul li a {
  display: inline-block;
  font-size: 14px;
  min-width: 100px;
  text-align: center;
  color: #5182df;
  background: #fff;
  padding: 10px 12px;
  border: 1px solid #5182df; }

.prod-select-tab ul li a.on {
  color: #fff;
  font-weight: 500;
  background-color: #5182df; }

.prod-tbl .bg-blue {
  background-color: #f1fcff; }

.prod-tbl .bg-purple {
  background-color: #fff3fd; }

.prod-tbl .bg-green {
  background-color: #f7fff0; }

.prod-tbl .bg-green2 {
  background-color: #f9fff5; }

.prod-tbl .bg-gray {
  background-color: #f7f7f7; }

.prod-tbl .btn-log {
  padding-right: 20px;
  font-size: 11px;
  position: relative;
  color: #9a9a9a; }

.prod-tbl .btn-log::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #9a9a9a; }

.prod-tbl .has-memo {
  position: relative; }

.prod-tbl .has-memo::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  border-top: 8px solid #ff0103;
  border-left: 8px solid transparent; }

.prod-tbl .td-memo {
  background-color: #fafafa;
  position: relative;
  padding-bottom: 25px; }

.prod-tbl .td-memo::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: calc(100% - 30px);
  background-color: #e0e0e0;
  right: 0px;
  top: 15px; }

.prod-tbl .td-memo h4.title {
  padding: 5px 0 3px 0; }

.prod-tbl .td-memo .memo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.prod-tbl .td-memo .memo-box .memo-txt {
  font-size: 12px;
  margin-right: 4px;
  height: 150px; }

.prod-tbl .td-memo .memo-box button {
  height: 150px; }

.prod-tbl tbody tr:first-child td {
  border-top: 3px solid #e0e0e0; }

.prod-tbl tbody:first-of-type tr:first-child td {
  border-top: none; }

.prod-tbl tbody.all_finish td {
  background-color: #f7f7f7; }

.prod-tbl .momo-log-tr td {
  border-top: 1px solid #e0e0e0 !important; }

.prod-tbl .td-log {
  background-color: #fafafa;
  border-left: none; }

.prod-tbl .td-log .log-box {
  border: 1px solid #e0e0e0; }

.prod-tbl .td-log .log-list {
  height: 150px;
  overflow: auto; }

.prod-tbl .td-log .log-list li {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 8px 5px 8px 10px; }

.prod-tbl .td-log .log-list li:last-child {
  border-bottom: none; }

.prod-tbl .td-log .log-list li::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: #656565;
  left: 3px;
  top: 8px; }

.prod-tbl .td-log .log-list li .desc {
  color: #656565; }

.prod-tbl .td-log .log-list li .date {
  color: #989898; }

.prod-tbl .td-prod-list {
  text-align: left; }

.prod-tbl .td-prod-list dt {
  color: #111;
  font-size: 13px;
  margin-bottom: 6px; }

.prod-tbl .td-prod-list dd {
  color: #666;
  padding-left: 10px;
  margin-bottom: 4px;
  position: relative; }

.prod-tbl .td-prod-list dd::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 2px;
  background-color: #666;
  left: 2px;
  top: 9px; }

.prod-tbl ul li {
  text-align: left; }

.prod-tbl ul li.unused {
  color: #c0c0c0; }

input[type="checkbox"].col-checkbox + label {
  flex-direction: column;
  justify-content: center; }

.damdangja {
  color: #999; }

.damdangja .flex-box span {
  flex-shrink: 0;
  width: 35px;
  margin-right: 4px; }

.damdangja select {
  border-color: #d9d9d9;
  color: #999; }

#memoPopup {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
  width: 265px;
  height: 175px;
  position: fixed;
  opacity: 0;
  left: -9999px;
  top: -9999px;
  transition: opacity 0.2s;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10; }

#memoPopup .tit {
  padding: 0 13px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

#memoPopup .tit .btn-close {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 20px;
  height: 20px; }

#memoPopup .tit .btn-close::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 18px;
  background-color: #8c8c8c;
  transform: rotate(45deg);
  right: 10px;
  top: 2px; }

#memoPopup .tit .btn-close::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 18px;
  background-color: #8c8c8c;
  transform: rotate(-45deg);
  right: 10px;
  top: 2px; }

#memoPopup .con-box {
  padding: 7px; }

#memoPopup .con-box textarea {
  border-radius: 0;
  min-height: 77px; }

#memoPopup .con-box .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px; }
